# Flutter / Dart
.dart_tool/
build/
.flutter-plugins
.flutter-plugins-dependencies
*.iml
.idea/

# Android
android/local.properties
android/.gradle/
android/app/debug/
android/app/profile/
android/app/release/
*.jks
*.keystore
keys/
